env/
karthik/
manu/
Hithesh/
__pycache__
node_modules
*.pyc
.env
tfplan
.terraform/
.terraform.lock.hcl
*.pem

# Preflight dynamic files
backend/main.tf
backend/plan.json
backend/tfplan
backend/pr_main.tf
backend/pr_tfplan
backend/pr_plan.json